@font-face {
  font-family: "NeueHaasUnica";
  font-display: swap;
  src: url("../../../../public/font/NeueHaasUnica-Regular.ttf");
}

@font-face {
  font-family: "NeueHaasUnicaM";
  font-display: swap;
  src: url("../../../../public/font/NeueHaasUnica-Medium.ttf");
}

.CheckDeter{
  width: 23.5%;
}


.BackButton h2 svg{
  width: 22px;
  height: 22px;
  margin: 0 10px 0 0;
}

.selected{
  color: #000;
  background-color: #8c8c8c;
}


.MakePaymentOP{
  border-radius: 10px;
border: 2px solid #000;
background: #000;
height: 63px;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
width: 280px;
display: flex;
align-items: center;
justify-content: center;
margin: 47px 0 0 0;


}

.MakePaymentOP a{
  color: #FFF;
  text-align: center;
  font-family: "NeueHaasUnica" !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}




.arrowUp .flickityButtonIcon1 {
  transform: rotate(90deg);
  width: 14px;
}

.arrowUp .flickityButtonIcon {
  transform: rotate(270deg);
  width: 14px;
}

/* CustomDropdown.module.css */

.customDropdown {
  position: relative;
  width: 200px;
  cursor: pointer;
}

.dropdownHeader {
  padding: 10px 20px 10px 10px;
  border: 1px solid #E4E4E4;
  display: flex;
  justify-content: space-between;
  width: 342px;
height: 52px;
}

.dropdownHeader span{
  color: #000;
text-align: justify;
font-family: "NeueHaasUnica" !important;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}


.dropdownOptions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}



.PaymentMain2 .PaymentSelect{
  margin-bottom: 30px;
}

.PaymentMain2{
  grid-template-columns: repeat(3, auto) !important;
  gap: 30px ;
}

.DigitalMode .UPIFlex input{
  border: 1px solid #E4E4E4;
background: #FFF;
height: 48px;
padding: 0 0px 0 15px;
color: #000;
text-align: justify;
font-family: "NeueHaasUnica" !important;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
outline: none;
}

.DigitalMode .UPIFlex input::placeholder {
  color: #c7c7c7;
  opacity: 1; 
} 

.DigitalMode .UPIFlex span {
  margin: 0 20px;
  color: #C7C7C7;
  text-align: justify;
  font-family:"NeueHaasUnica" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.DigitalMode .UPIFlex{
  display: flex;
  align-items: center;
  // gap: 10px;
}
.DigitalMode h2{
  color: #222;
text-align: justify;
font-family: "NeueHaasUnica" !important;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
margin: 0 0 20px 0;
}


.PaymentMain .PaymentSelect  input[type=radio]:checked:after {
  border: 5px solid #000;
  transition: 0.5s;

}

.PaymentMain .PaymentSelect  input[type=radio]:checked:after, .Style_title__qFJxm input[type=radio]:not(:checked):before {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #f3f4f4;
  content: "";
  display: inline-block;
  visibility: visible;
}

.PaymentMain .PaymentSelect input[type=radio], .PaymentSelect input[type=radio]:checked:after {
  width: 15px;
  height: 15px;
  border: 8px solid #8C8C8C;
  background-color: transparent;
}



.PaymentSelect input[type=radio]:not(:checked):before {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: transparent;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid #8C8C8C;

}


.PaymentOptions h2, .PaymentSelect h2{
  color: #222;
  text-align: justify;
  font-family: "NeueHaasUnica" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
margin: 7px 0 20px 0;
}

.PaymentSelect img{
  margin: 0 10px 0 0;
}


.PaymentOptions .PaymentSelect label{
  color: #8C8C8C;
text-align: justify;
font-family: "NeueHaasUnica" !important;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
display: flex;
    align-items: center;
}

.PaymentOptions .PaymentSelect input{
  margin: 0 15px 0 0;
}

.PaymentMain{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 25px;
  align-items: center;
}


.ConfirmMail, .title, .title .content p, .title .content, .Dropo label, .creditInput label, .creditInput input {
  font-family: "NeueHaasUnica" !important;
}
.container {
  width: 75%;
  margin: auto;
}
.titleAccordion {
  background-color: #f4f4f4;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titleAccordion.active {
  background-color: #e0e0e0;
}

.title {
  background: #f3f4f4;
  padding: 10px 0 10px 37px;
  height: 73px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  color: #8C8C8C;
  font-size: 25px;
  font-weight: 500;
}



.title input[type="radio"], .title input[type="radio"]:checked{
  width: 25px;
  height: 25px;
  top: 30%;
  visibility: hidden;
}

.title input[type="radio"] {
  padding: 0;
  border: 5px solid #000000;
  margin-right: 16px;
}

.title input[type="radio"]:checked {
  border: 8px solid #003b5f;
  visibility: hidden;
}

.title.borderRad {
  border-radius: 20px 20px 0px 0px;
}
.active{
  color: #000;
}
.title .active{
  color: #000 !important;
}

.title .content {
  padding: 28px 28px 58px 28px;
  font-size: 16px;
}

.title .content p {
  font-size: 16px;
  margin: 0 0 0 0 !important;
  padding: 0 0 0 20px;
}

.title input[type="radio"]:checked:after, .title input[type="radio"]:not(:checked):before{
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color: #f3f4f4;;
  content: "";
  display: inline-block;
  visibility: visible;
}

.title input[type="radio"]:checked:after {
  border: 8px solid #000;
  transition: 0.5s;
}
.title input[type="radio"]:not(:checked):before {
  border: 6px solid #8c8c8c;
  transition: 0.5s;
}
.content {
  padding: 10px;
}
.ConfirmMail {
  color: #000;
  font-size: 14px;
  
  font-weight: 400;
  
  padding: 15px 0 25px 40px;
  text-align: left;
}

.dropTitleHoldesvg {
  position: absolute;
  transform: rotate(180deg);
  right: 26px;
  bottom: -23px;

}

.dropDownTitleSvg1 {
  position: absolute;
  transform: rotate(360deg);
  right: 26px;
  bottom: -23px;

}

.dropDown11{
  display: flex;
}
.Dropo .dropDown {
  position: relative;
}

.Dropo ul {
  list-style: none;
  padding-left: 0px;
  position: absolute;
  background-color: #ffffff;
  padding: 0px;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  top: 106%;

  border-radius: 5px;
}

.Dropo ul li {
  border: 0.5px solid #e4e4e4;
  padding: 0 0 0 10px;
  border-radius: 5px;
  height: 50px;
}

.Dropo ul li:hover {
  background-color: #f6f6f6;
}

.Dropo .dropDown {
  background: #fff;
  padding: 10px 14px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  display: flex;
  align-items: center;
}

.Dropo {
  padding: 20px 40px 0 40px;
}
.Dropo label {
  margin: 0 0 6px 0;
  color: #222;
  text-align: justify;
  font-size: 16px;
  
  font-weight: 400;
  line-height: 30px;
}


.ExpiryDate{
  display: flex;
  gap: 30px;
}

.HashRed {
  color: #f03434;
}
.dropDown img {
  margin: 0 10px 0 2px;
}

.arrowIcon {
  position: absolute;
  right: 30px;
  font-size: 25px;
  transform: rotate(360deg);
}
.arrowIcon {
  display: inline-block;
}
.creditInput label {
  color: #222;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 0 6px 0;
}
.creditControl {
  padding: 0 0 40px 40px;
}
.creditControl {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.creditInput {
  width: 50%;
}

.creditOut {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin: 47px 40px 0 0;
  padding: 0px 0 0 40px;
}

.creditInput input {
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  background: #fff;
  color: #222;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 52px;
  padding: 0 0 0 10px;
  width: 100%;
  outline: none;
}

.creditInput input::placeholder {
  color: #000;
}
.travel1 {
  width: 100%;
  display: flex;
  margin: 34px 0;
  justify-content: space-between;
}

.travel2 {
  width: 75%;
  border-radius: 20px;
  background: #fff;
  margin-right: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.lastParaWri{
  font-size: 14px;
  // margin-top: 15px;
  padding: 15px 0 15px 37px;
}

@media(max-width:1199.98px){
  .container {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 1024.98px) {
  .CheckDeter {
    width: 100%;
}

  .travel2a {
    margin: 0 0 30px 0;
    padding: 0 0 20px 0;
  }
  .travel2 {
    width: 100%;
  }

  .travel1 {
    display: block;
  }

  .container {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 991.98px) {
  .travel2a {
    // padding: 17px 17px 62px 17px;
  }
}

@media (max-width: 767.98px) {
  .PaymentMain2 {
    grid-template-columns: repeat(1, auto) !important;
   
}

  .creditOut {
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 47px auto 0 auto;
    padding: 0px 0 0 0px;
  }

  .creditInput {
    width: 92%;
    padding: 0 0 0 40px;
  }
  .creditControl {
    display: block;
  }

  .creditControl {
    padding: 0 0 28px 0px;
  }
  .title {
    font-size: 20px;
  }
}

@media (max-width: 575.98px) {

  .title {
   
    padding: 10px 0 10px 16px;
   
    font-size: 23px;
   
}
  .DigitalMode .UPIFlex{
    display: block;
    align-items: center;
      }

      .DigitalMode .UPIFlex span{
text-align: center;
          }

          .DigitalMode svg{
            width: 18px;
            height: 18px;
            margin: 0 10px 0 0;
          }


  .dropdownHeader {
    max-width: 342px;
    width: 100%;
    }

    .MakePaymentOP {
      
      width: 200px;
      
      margin: 47px 0 0 0;
  }

  .PaymentMain {
    grid-template-columns: repeat(1, auto);
    grid-gap: 25px;

}

  .creditInput {
    width: 96%;
    padding: 0 0 0 15px;
  }

  .creditInput input, .creditInput label  {
    font-size: 13px;
  }
  .creditControl {
    padding: 0 0 40px 0px;
  }
  .arrowIcon {
    font-size: 20px;
  }

  .dropDown img {
    width: 35px;
  }
  .Dropo {
    padding: 20px 15px 0 15px;
  }

  .Dropo .dropDown {
    padding: 10px 4px;
  }

  .Dropo label {
    font-size: 13px;
  }
}

@media (max-width: 445.98px) {
  .creditInput label, .creditInput input, .Dropo label  {
    font-size: 12px;
  }

  .arrowIcon {
    font-size: 17px;
  }

  .arrowIcon {
    position: absolute;
    right: 10px;
    top: unset;
  }
}

@media (max-width: 355.98px) {
  .dropDown img {
    margin: 0 2px 0 0px;
  }

  .dropDown img {
    width: 20px;
}
// .Dropo label {
//   font-size: 12px;
// }

.arrowIcon svg {
  width: 10px;
}
}