@import "styles/settings/__settings";
@import "style.css";

// @font-face {
//   font-family: "DidotB06";
//   src: url("../../public/font/HTFDidot-B06Bold.otf") format("truetype");
//   font-weight: 400;
//   font-display: swap;
//   font-style: normal;
// }
// @font-face {
//   font-family: "DidotM06";
//   src: url("../../public/font/HTFDidot-M06Medium.otf") format("truetype");
//   font-weight: 400;
//   font-display: swap;
//   font-style: normal;
// }
@font-face {
  font-family: "DidotL06";
  src: url("../../public/font/HTFDidot-L06Light.otf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
  color: #000000;
  letter-spacing: normal;
  line-height: 28px;
}

body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #000000;
  letter-spacing: normal;
  font-family: "DidotL06";
  line-height: 28px;
}
h1 {
  font-weight: 400;
}
h1,
h2 {
  font-family: "DidotL06" !important;
}

h3,
h4,
h5,
h6 {
  font-family: "DidotL06" !important;
}

h1 {
  font-size: 3rem !important;
  letter-spacing: 1px;
  text-transform: none !important;
}
h2 {
  font-size: 2.25rem;
  font-weight: 300;
}
h3 {
  font-size: 1.25em;
  font-weight: 300;
}
h4 {
  font-size: 0.95em;
  font-weight: 300;
}
li {
  font-family: "DidotL06";
  font-weight: normal;
  line-height: 42px;
}

p {
  line-height: 42px;
  font-size: 24px;
  font-weight: 100;
  word-spacing: normal;
  font-family: "DidotL06";
  font-weight: normal;
  margin: 15px auto !important;
  text-align: justify;
}

ul {
  padding-left: 1.2em;
}

a {
  color: $color-primary;
}

input {
  &[type="text"],
  &[type="search"],
  &[type="email"] {
    outline-offset: 0;
    padding: 0.5em 0.8em;
  }
}
figure img {
  padding: 0;
}
figcaption {
  color: $color-gray-500;
  font-size: 0.9em;
  text-align: center;
  font-style: italic;
  margin-top: 0.6em;
}

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}

/* 02-11-2022 Add Css  */
.card {
  border: unset !important;
}

h1 {
  color: #000;
  text-transform: capitalize;
}

button.btn.btn-black {
  background: #000;
  color: #fff;
  height: 3.125rem;
  border-radius: 0 0.375rem 0.375rem 0;
  text-transform: uppercase;
}

button.btn.btn-black:hover {
  background-color: #e638c5;
  border-color: #e638c5;
  color: #fff;
  height: 3.125rem;
  border-radius: 0 0.375rem 0.375rem 0;
  text-transform: uppercase;
}

.form-control {
  height: 3.125rem;
  border-radius: 0.375rem 0 0 0.375rem;
}

.col-xl-10.col-lg-10.col-md-10.col-sm-12.pr-0 {
  padding-right: 0;
}

.col-xl-2.col-lg-2.col-md-2.col-sm-12.pl-0 {
  padding-left: 0;
}

.xyz {
  color: red;
  background-color: blue;
}
