.aligncenter {
  text-align: center;
}
.layoutFlexDiv {
  display: flex;
  justify-content: space-between;
}
.layoutOneFirstChild {
  width: 60%;
}
.layoutOneTwoChild {
  width: 39%;
}
.layoutTwoFirstChild {
  width: 39%;
}
.layoutTwoTwoChild {
  width: 60%;
}
