.aligncenter {
  text-align: center;
}
.layoutFlexDiv {
  display: flex;
  justify-content: space-between;
}
.layoutOneFirstChild {
  width: 60%;
}
.layoutOneTwoChild {
  width: 39%;
}
.layoutTwoFirstChild {
  width: 39%;
}
.layoutTwoTwoChild {
  width: 60%;
}
// Add css 02-feb-2023 s
p {
  font-size: 18px;
}
h1 {
  font-size: 3rem !important;
}
.d-flex.justify-content-around a {
  color: #000;
}
.Container_container__jY5v0 {
  max-width: 1320px !important;
}

// .temp::first-letter {
//   display: block;
//   float: left;
//   margin-top: -20px;
//   font-weight: 600;
//   font-size: 1.8rem;
//   background: #111;
//   text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.5);
//   -webkit-background-clip: text;
//   -moz-background-clip: text;
//   background-clip: text;
// }
.Header_headerZeroMargin__nLVkC h1 {
  text-align: right !important;
}
.TwoColumn {
  display: flex;
}
.width50 {
  width: 50%;
  float: left;
}
.DisplayFlex {
  display: flex;
  justify-content: center;
}
.DisplayFlex a {
  color: #000;
}
.pr-15 {
  padding-right: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.mt-4 h1 {
  text-align: center !important;
}
.ml-20 {
  margin-left: 20px;
}
.justify-content-center p {
  font-size: 12px;
}
.fs-12 {
  font-size: 12px;
}
.DisplayFlex p {
  font-size: 12px;
}
.width45 {
  width: 45%;
  float: left;
}
.width55 {
  width: 55%;
  float: left;
}
.w-100 .uag-image-280 {
  width: 100%;
}

.writtenBy {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.5em;
}
.img250 img {
  height: 250px !important;
}
.img350 img {
  height: 350px !important;
}
.imgFull img {
  width: 100% !important;
}
