.container{
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    // border-top: 0.5px solid ;
    position: fixed;
    bottom: 0;
    font-size: 12px;
    display: none;
    // justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    @media (max-width: 600px){
    &{
        display: flex;
        z-index: 111;
        overflow: auto;
        
    }
    }
    & a{
        color: #fff;
        font-family: "NeueHaasUnica", Arial, sans-serif;
        text-decoration: none;
        display: flex;
        gap: 10px;
        align-items: center;
        & span{
            color: #fff;
          
        }
    }
    & .border{
        border-right: 1px solid rgba(68, 68, 68, 1);
        content: "";
        height: 100%;
    }
    & p{
        color: #fff;
        font-size: 12px;
        font-family: "NeueHaasUnica", Arial, sans-serif;
        margin: 0;

    }
}

.footerNavSid{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    // width: 100px;
    // background-color: aqua;
}
.footerNavSideFixed svg{
    background-color: #000;
    height: 50px;
    padding: 14px 0;
}


.footerNavSideFixed{
    position: fixed;
    z-index: 1;
    bottom: -3px;
    left: 0;
}

.footerSelee{
    width: 100%;
    // z-index: -1;
}


.footerNav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-width: 350px;
    
   height: 60px;
    
}



.NavSideControl{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;
    
    

}





.container a{
    position: relative;
    background-color: #000;
    width: 40px;
    
}

.container a.active:after{
    position: absolute;
       content: "";
    width: 9px;
    height: 9px;
    border-radius: 10px;
    bottom: -4px;
    border: 3.5px solid #fff;
    // background-color: #fff;
    left: 62%;
}


