.container{
    width: 90%;
    margin: 2rem auto;
}
.sectionTitle{
    font-family: 'SaolDisplay';
    font-weight: 400;
    font-size: 37px;
    line-height: 24px;
}
.postTitle{
    font-family: 'SaolDisplay';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}