.container{
    width: 100%;
    margin: auto;
    max-width: 70rem;
    margin-bottom: 50px;
    @media(max-width: 1299px) {
        width: 90%;  
      }
}

.BigImg{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin: 70px 0 0px 0;
}

.BigImg img{
    width: 100%;
}


@media (max-width: 1024.98px) {
    .container{
        width: 90%;
        margin: auto;
    }
}


@media (max-width: 575.98px) {
    .BigImg{

        margin: 50px 0 -25px 0;
    }

        
}