@font-face {
  font-family: "NeueHaasUnica";
  font-display: swap;
  src: url("../../../../public/font/NeueHaasUnica-Regular.ttf");
}

@font-face {
  font-family: "NeueHaasUnicaM";
  font-display: swap;
  src: url("../../../../public/font/NeueHaasUnica-Medium.ttf");
}

.ShopBanner h2,
.SecondParent h3,
.SecondParent h5 {
  font-family: "NeueHaasUnicaM" !important;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 70rem;
}

.ShopBanner {
  text-align: center;
  background-image: linear-gradient(to right, rgba(232, 232, 232, 100), rgba(237, 237, 245, 100));
  padding: 20px 0;
}

.ShopBanner h2 {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  /* 60% */
  margin: 0 0 0px 0;
}

.ShopBanner p {
  font-family: "NeueHaasUnica" !important;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 184.615% */
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.galleryThumbs img {
  width: 75px;
  height: 75px;
}

.galleryThumbs {
  display: flex;
  gap: 7px;
  border: 1px solid #ededed;
  background: #fff;
  padding: 10px;
  margin: 30px auto 0;
  max-width: 520px;
}

.ParentClass {
  display: flex;
  width: 100%;
  gap: 60px;
  margin: 30px 0;
}

.ParentClass .FirstClass {
  width: 50%;
  max-width: 520px;
  // max-width: 520px;
}

.SecondParent {
  width: 50%;
  
}

.SecondParent img {
  // width: 100%;
}

.SecondParent h3 {
  color: #000;

  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  /* 60% */
  margin: 0 0 13px 0;
}

.galleryTop {
  width: 100%;
}

.galleryTop img {
  width: 100%;
  max-height: 458px;
}

.SecondParent h5 {
  margin: 17px 0 20px 0;
  color: #000;
  // text-align: center;

  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 70% */
}

.SizeArea h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  font-family: "NeueHaasUnica" !important;
  margin: 0 0 15px 0;
}

.SecondContent {
  color: #000;
  font-family: "NeueHaasUnica" !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 150% */
}

.SecondParent .lineContent {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
}

.SvgImg {
  display: flex;
  gap: 3px;
}

.rating {
  color: #000;
  text-align: center;
  font-family: "NeueHaasUnicaM" !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 150% */
}

.review {
  color: #999;
  font-family: "NeueHaasUnica" !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.Second {
  color: #000;
  font-family: "NeueHaasUnica" !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0 0 23px 0;
  
}


.SizeRadio input[type="radio"],
.SizeRadio input[type="radio"]:checked {
  width: 10px;
  height: 25px;
 
}

.SizeRadio input[type="radio"] {
  padding: 0;
  border: 5px solid #000000;
  visibility: hidden;


}

.SizeRadio input[type="radio"]:checked {
  border: 8px solid #003b5f;
}

.SizeRadio.borderRad {
  border-radius: 20px 20px 0px 0px;
}

.active {
  color: #fff;
}

.SizeRadio .active {
  color: #000 !important;
}

.SizeRadio .content {
  padding: 28px 28px 58px 28px;
  font-size: 16px;
}

.SizeRadio .content p {
  font-size: 16px;
  margin: 0 0 0 0 !important;
  padding: 0 0 0 20px;
}

.SizeRadio input[type="radio"]:checked:after,
.SizeRadio input[type="radio"]:not(:checked):before {
  width: 66px;
  height: 34px;
 
  content: "";
  display: inline-block;
  visibility: visible;
}

.SizeRadio input[type="radio"]:checked:after {
  border: 1px solid #000;
  background-color: #000;
  transition: 0.5s;
}

.SizeRadio input[type="radio"]:not(:checked):before {
  border: 1px solid #d9d9d9;
  transition: 0.5s;
}

.SizeRadio {
  position: relative;
  width: 66px;
}



.SizeRadio input[type="radio"]:checked + span {
  color: #fff;
}

.SizeRadio span {
  color: #000;
  text-align: center;
  font-family: "NeueHaasUnica" !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 150% */
}

.boxControl {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.Quantity input {
  width: 67px;
  height: 34px;
  text-align: center;
  border: 1px solid #d9d9d9;
  outline: none;
  word-spacing: normal;
}

.quntity {
  line-height: 25px;
}


.selectDiv {
  display: flex;

  border-radius: 8px;
  padding: 2px 7px;
  font-size: 15px;
  border: 1px solid #d9d9d9;
  font-family: "NeueHaasUnica" !important;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.selectDiv select option {
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #d9d9d9 !important;
  background-color: #fff;
  line-height: 25px;
}

.selectDiv select {
  background-color: transparent;
  outline: none;
  font-size: 15px;
  border: none;
  font-family: "NeueHaasUnica" !important;
    //   width: 100px;
    // display: flex;
    // text-align: center;
}

.QBoxee {
  margin: 18px 0 -17px 0;
  display: flex;
  gap: 30px;
}

.BuyButton {
  background-color: #000;
  width: 118px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BuyButton a {
  color: #fff;
  font-family: "NeueHaasUnica" !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  /* 200% */
  text-transform: uppercase;
}

.SafePament {
  border: 1px solid #000;
  width: 50%;
  min-width: 250px;
height: 57px;
  display: flex;
  padding: 10px;
}

.controlparag p {
  color: #000;
  font-family: "NeueHaasUnica" !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;

  position: relative;
  top: 15px;
  background: #fff;
  display: inline-block;
  left: 20px;
  padding: 0 5px;
  margin: 0 0 0 0;
}

.controlparag {
  margin: 20px 0 0 0;
}

.SkuProduct {
  border-top: 1px Dashed #000;
  margin: 20px 0 20px 0;
  padding: 5px 0 0px 0;
}

.SkuProduct p {
  color: #000;
  font-family: "NeueHaasUnica" !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;

  margin: 0;
}

.SkuProduct p span {
  font-family: "NeueHaasUnicaM" !important;

  font-weight: 500;
}

.tabContainer {
  display: flex;
  gap: 40px;
  margin: 30px 0 15px 0;
  padding: 0 0 0 0;
}

.Letter {
  color: #bdbdbd;
  font-family: "NeueHaasUnicaM" !important;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  /* 70% */
}

.TabsMain {
  width: 100%;
  display: flex;
  gap: 40px;
  margin: 20px 0;
}

.TabsMainOne {
  width: 100%;
}

.TabsTwo {
  width: 40%;
}

.tabsInner h3 {
  color: #000;
  font-family: "NeueHaasUnicaM" !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  /* 222.222% */
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ratingSvg {
  display: flex;
  gap: 10px;
}

.tabsInner h3 span {
  color: #999;
  font-family: "NeueHaasUnica" !important;
  font-size: 12px;
  font-weight: 400;
}

.tabsInner p {
  color: #999;
  font-family: "NeueHaasUnica" !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  margin: 0;
}

.ReplyStatus p {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #000;
  font-family: "NeueHaasUnica" !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 200% */
}

.ReplyStatus p span {
  color: #999999;
}

.tabsInner {
  margin: auto;

  padding: 0 20px 20px 0px;
}

.UseFlexA {
  border-bottom: 1px solid #eaeaea;
  display: flex;
  gap: 20px;
  padding: 0px 0 20px 15px;
}

.UseFlexA span {
  display: flex;
  gap: 10px;
  margin: 0px 0;
}

.SpanSvgCon {
  margin: 5px 0 !important;
}

.TabsTwo .box1 {
  border-radius: 10px;
  background: #d7d2bf;
  padding: 26px;
}

.TabsTwo .box1 .box1Para {
  color: #000;
  font-family: "NeueHaasUnicaM" !important;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  text-align: unset;
  line-height: 40px;
  /* 133.333% */
}

.TabsTwo .box1 .ButnBlock a {
  color: #fff;
  font-family: "Neue Haas Unica";
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  /* 200% */
  text-transform: uppercase;
}

.FlexCode {
  display: flex;
  width: 100%;
  gap: 30px;
}

.Tabcode {
  width: 70%;
  border-right: 1px solid #e5e5e5;
  padding: 0 30px 0 0;
  max-height: 600px;
  overflow: auto;
}

.ReviewGoal {
  font-family: "NeueHaasUnica" !important;
  color: #999;
  font-family: "Neue Haas Unica";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.ImgMainE {
  display: contents;
}

.ImgMainE img {
  width: 48px;
  height: 48px;
  border-radius: 100px;
}

.ratingNumber {
  color: #000;
  font-family: "NeueHaasUnica" !important;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  /* 222.222% */
}

.ratingSvg {
  display: flex;
  gap: 3px;
}

.TabsTwo {
  width: 30%;
}

.ButnBlock {
  background: #000;
  width: 118px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingGoal {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  margin: 0 0 10px 0;
}

.TabsMainOne hr {
  margin: 0 0 40px 0;
}

.tab.Letter.Letter::after {
  background-color: #000;
}

@media (max-width: 1024.98px) {
  .container {
    width: 90%;
  }

  .ParentClass {
    gap: 30px;
  }
}

@media (max-width: 1199.98px) {
  .galleryThumbs img {
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 767.98px) {
  .SecondParent h3 {
    font-size: 25px;
  }

  .FlexCode {
    display: block;
  }

  .Tabcode {
    width: 100%;
    border-right: 0px solid #e5e5e5;
  }

  .ratingGoal {
    display: flex;
    justify-content: start;
  }

  .TabsTwo {
    width: 320px;
    margin: 0 0 40px 0;
  }

  .Tabcode {
    padding: 0 0px 0 0;
  }

  .FlexCode {
    gap: 10px;
  }

  .TabsTwo .box1 .box1Para {
    font-size: 20px;
    line-height: 29px;
  }

  .ParentClass {
    display: block;
  }

  .ParentClass .FirstClass {
    width: 100%;
    margin: auto;
  }

  .galleryTop {
    width: 100%;
    margin: auto;
  }

  .SecondParent {
    width: 100%;
    margin: 40px 0 0 0;
  }
}

@media (max-width: 510px) {
  .TabsTwo {
    width: 267px;
  }

  .Letter {
    font-size: 20px;
  }

  .TabsMainOne hr {
    position: relative;
    top: -9px;
  }

  .galleryThumbs img {
    width: 45px;
    height: 45px;
  }
}

.ChangeSize {
  position: absolute;
  left: 19px;
  top: 6px;
}

@supports (-webkit-touch-callout: none) {
  .ChangeSize {
    position: absolute;
    left: 22px;
    top: 13px;
  }
}
