.dateRangeContainer {
  display: flex;
  justify-content: space-between;
}

.dateRangeContainer span {
  border-right: 1px solid #9C9C9C;
  height: 30px;
  width: 1px;
  @media(max-width:420px){
      border-bottom: 1px solid #9C9C9C;
      border-right: none;
      height: 30px;
      width: 100%;
  }

}


.dropdownContainer {
  position: relative;
}

.dropTitleHoldesvg {
  position: absolute;
  transform: rotate(180deg);
  right: 26px;
  bottom: 23px;

}

.dropDownTitleSvg1 {
  position: absolute;
  transform: rotate(360deg);
  right: 26px;
  bottom: 23px;

}
.dateRangeInput label{
  // display: flex;
  // align-items: center;
  padding: 0 0 0 20px;
  display: flex;
  align-items: flex-start;
  
}
.dateRangeInput input::-webkit-calendar-picker-indicator {
  background: transparent;
  cursor: pointer;
}



.dateRangeInput input{
  color: #000;
  text-align: -webkit-left;
  // display: flex;
}
.dateRangeInput input::-webkit-calendar-picker-indicator {
  // background-image: url(../../../public//package/calender.png);
  position: absolute;
  // display: none;
  width: 28px;
  height: 28px;
  top: 0px;
  left: 16px;
  // visibility:;
  color: transparent;
  // background-color: #9C9C9C;
  margin: 0 5px 0 0;
}



.formContainer .dateRangeContainer .dateRangeInput input {
  padding: 0 10px;
  flex-direction: row-reverse;
  border: none;
  font-size: 16px;
  font-family: "NeueHaasUnica", Arial, sans-serif !important;
  outline: none;
}

.dateRangeInput{
  width: 50%;
  position: relative;
  min-width: 183px;
  @media(max-width:420px){
    width: 100%;
  }
}

.dateRangeInput p {
  font-size: 14px;
  font-family: "NeueHaasUnica", Arial, sans-serif !important;
  color: #9C9C9C;
  line-height: 15px;
  margin: -6px 0 0 57px !important;
}

.mastHeadContainerdes{
  position: relative;
}

.mastHeadContainerAvail {
  // position: relative;
  z-index: 2;
  
  @media (max-width: 424px) {
   
    margin: 0 0 -40px 0;
  }

  .titleHolder {
    font-family: "SaolDisplay" !important;
    position: absolute;
    text-transform: capitalize;
    top: 50%;
    left: 0%;
    right: 0%;
    transform: translate(-0%, -50%);
    padding: 1.5rem 5rem;
    // background-color: black;
    color: #fff;
    font-size: 40px;
    line-height: 44px;
    display: grid;
    place-content: center;
    // fdiehf

    @media (max-width: 1441px) {
      // top: 30%;
    }

    @media (max-width: 1025px) {
      // top: 25%;
      font-size: 26px;
    }

    @media (max-width: 769px) {
      // top: 40%;
      font-size: 30px;
      line-height: 34px;
    }

    @media (max-width: 500px) {
      // top: 40%;
      padding: 1.5rem 2rem;
      font-size: 25px;
      line-height: 28px;
    }

    @media (max-width: 411px) {
      // top: 25%;
      padding: 1.5rem 0.5rem;
    }

    @media (max-width: 325px) {
      // top: 17%;
      padding: 1rem 0.5rem;
    }
  }

  .availabilyContainer {
    position: relative;
    transform: translate(-50%, -50%);
    // bottom: 10%;
    left: 50%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // width: 1000px;
    width: 100%;
    height: 175px;
    padding: 2rem;
    max-width: 70rem;
    z-index: 1;

    @media (max-width: 1441px) {
      // bottom: 20%;
    }

    @media (max-width: 1299.98px) {
      width: 90%;
    }

    @media (max-width: 1025px) {
      bottom: 0%;
      width: 90%;
    }
    @media (max-width: 880px) {
      height: 145px;
    }

    @media (max-width: 767px) {
      padding: 1rem 2rem 2rem;
      height: auto;
      // bottom: 8%;
      // position: unset;
    }

    @media (max-width: 500px) {
      // bottom: 20%;
      width: 90%;
      padding: 41px 30px;
    }

    @media (max-width: 321px) {
      // bottom: 35%;
    }

    .formContainer {
      width: 100%;
      display: flex;

      // position: relative;
      .dateRangeContainer {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        display: flex;
        align-items: center;
        height: 60px;
        @media(max-width:767px){
          height: 50px;

        }

        @media(max-width:420px) {
          display: block;
          height: auto;
          padding: 10px;
        }

        &>input {
          border: none;
          width: 50%;
          // height: 100%;
          padding: 0 10px;
          flex-direction: row-reverse;
          font-size: 16px;


        }

        &>label {
          display: none;
        }

        .dateRangeHolder1 {
          border-right: 1px solid rgba(156, 156, 156, 1);
        }

        .dateRangeHolder2 {}

        background: rgba(255, 255, 255, 1);
        // width: 450px;
        width: 100%;
        // height: 60px;
      }
    }





    @media(max-width: 768px) {
      .formContainer {
        display: grid;
        gap: 20px;
      }

      .formContainer .dateRangeContainer .dateRangeInput input {
        padding: 0 5px;
         font-size: 12px;
              }

              .dateRangeInput p {
                font-size: 10px;
                
                line-height: 5px;
                margin: -10px 0 0 57px !important;
            }

    }





    .availabilyButton {
      width: max-content;
      height: auto;
      font-size: 25px;
      background: #000;
      color: #fff;
      display: grid;
      place-content: center;
      border-radius: 10px;
      text-transform: uppercase;
      font-family: "NeueHaasUnica", Arial, sans-serif;
      position: absolute;
      bottom: -15%;
      padding: 10px 20px;
      text-decoration: none;
      cursor: pointer;
      
      @media(max-width:700px) {
        // bottom: -11%;
        font-size: 20px;
      }

      @media(max-width:500px) {
        bottom: -11%;
      }

      &:hover {
        background: #fff;
        border: 1px solid #000;
        color: #000;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
      }
    }

    .dropdownContainer img {
      width: 31px;
      height: 27px;
    }

    .dropdownContainer {

      background: #fff;
      // width: 500px;
      width: 100%;
      height: 60px;
      border-radius: 10px;
      border: none;
      // overflow: hidden;
      margin-left: 2rem;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 1rem;
      position: relative !important;

      @media(max-width: 880px) {
        // margin-left: 0rem;
        width: 75%;
      }

      @media(max-width: 768px) {
        margin-left: 0rem;
        width: 100%;
        height: 50px;


      }

      .dropDownTitleHolder {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 5px;
        font-size: 16px;
        line-height: 22px;

        .dropDownTitle {
          font-size: 16px;
          line-height: 21px;
        @media(max-width:767px){
          font-size: 12px;
          line-height: 15px;
        }
        }


        .dropDownSubTitle {
          color: rgba(156, 156, 156, 1);
          line-height: 13px;
          font-size: 14px;

          @media(max-width:767px){
            font-size: 12px;
            line-height: 15px;
          }
        }
      }

    }

    .arrow {
      bottom: -31px;
      position: absolute;
      left: 32px;
      transform: rotate(-90deg);
      z-index: 1;
      background-color: #fff;
      @media(max-width:500px){
        bottom: -25px;
      }
      .svgWrapper{
        // border: 1px solid rgba(0, 0, 0, 0.25);
        // box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
      }
    }

    .modalContainer {
      position: absolute;
      bottom: -220px;
      left: 0%;
      width: 270px;
      height: max-content;
      background-color: #fff;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      z-index: 1;

      @media (max-width: 767px) {
        right: 0%;
      }

      @media (max-width: 500px) {
        width: 100%;
        bottom: -222px;
      }

      .row {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: .5rem 1rem;
        border-bottom: 1px solid #ccc;
        align-items: center;
        background-color: #fff;

        .rowTitle {
          font-size: 16px;
          font-family: "NeueHaasUnica", Arial, sans-serif;

        }

        .rowDesc {
          font-size: 14px;
          color: rgba(156, 156, 156, 1);
          font-family: "NeueHaasUnica", Arial, sans-serif;

        }
      }

      .selectorHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 84px;
        font-family: "NeueHaasUnica", Arial, sans-serif;

        .selectorBtn {
          border: 1px solid rgba(156, 156, 156, 1);
          border-radius: 50%;
          width: 25px;
          height: 25px;
          display: grid;
          place-content: center;
          color: rgba(156, 156, 156, 1);
          font-size: 20px;
          margin: 5px;
          cursor: pointer;
        }
      }
    }
  }
}

.titleHolder h3 {
  color: #fff;
  font-size: 40px;
  line-height: 24px;
  background-color: #000;
  padding: 16px 45px;
  margin: 0;
  // padding: 0;

  @media(max-width:1025px) {
    font-size: 30px;
  }

  @media(max-width:767px) {
    font-size: 20px;
    padding: 5px 11px;
  }

  
}

.mastHeadContainer {
  position: relative;

  .titleHolder {
    font-family: "SaolDisplay" !important;
    position: absolute;
    text-transform: capitalize;
    top: 50%;
    transform: translate(0%, -50%);
    padding: 1.5rem 5rem;
    color: #fff;
    font-size: 40px;
    line-height: 44px;
    display: grid;
    place-content: center;
    left: 0;
    right: 0;

    @media (max-width: 1441px) {
      // top: 30%;
    }

    @media (max-width: 1025px) {
      // top: 25%;
      font-size: 26px;
    }

    @media (max-width: 769px) {
      // top: 40%;
      font-size: 30px;
      line-height: 34px;
    }

    @media (max-width: 500px) {
      // top: 40%;
      padding: 1.5rem 2rem;
      font-size: 25px;
      line-height: 28px;
    }

    @media (max-width: 411px) {
      // top: 25%;
      padding: 1.5rem 0.5rem;
    }

    @media (max-width: 325px) {
      // top: 17%;
      padding: 1rem 0.5rem;
    }
  }
}

.MastHeadMobImg {
  width: 100%;
  height: auto;
  display: none;

  @media (max-width: 1440px) {
    object-fit: scale-down;
  }

  @media (max-width: 600px) {
    display: block;
    object-fit: unset;
  }
}

.MastHeadDeskImg {
  width: 100%;
  height: auto;
  display: block;

  @media (max-width: 1440px) {
    object-fit: scale-down;
  }

  @media (max-width: 600px) {
    display: none;
    object-fit: unset;
  }
}

@media (max-width: 420px) {
  .dateborder{
    border-bottom: 1px solid #9C9C9C;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
  }
}






@supports (-webkit-touch-callout: none) {
  .dateRangeInput input::-webkit-calendar-picker-indicator {
   background-color: transparent;
   color: #000;
  } 
}